.glulr { 
  border-right-width: 69px;
  border-top-width: 86px;
  line-height: 56px;
  margin-bottom: 13px;
  padding-left: 21px;
  padding-top: 1px;
  border-bottom-width: 76px;
  margin-top: 29px;
  margin-left: 52px;
  border-top-width: 24px;
  padding-left: 52px;
}
