.qgttv { 
  border-right-width: 25px;
  margin-bottom: 23px;
  border-right-width: 88px;
  padding-right: 75px;
  border-left-width: 98px;
  border-top-width: 71px;
  padding-left: 58px;
  border-top-width: 40px;
  margin-left: 65px;
  padding-right: 73px;
  border-right-width: 36px;
  padding-left: 83px;
  margin-bottom: 36px;
  border-right-width: 84px;
  border-bottom-width: 45px;
  padding-right: 48px;
  margin-left: 51px;
  padding-right: 29px;
  margin-left: 47px;
  border-bottom-width: 39px;
  border-bottom-width: 12px;
  padding-top: 16px;
  border-top-width: 36px;
  padding-bottom: 98px;
}
