.glulr { 
  border-right-width: 69px;
  border-top-width: 86px;
  line-height: 56px;
  margin-bottom: 13px;
  padding-left: 21px;
  padding-top: 1px;
  border-bottom-width: 76px;
  margin-top: 29px;
  margin-left: 52px;
  border-top-width: 24px;
  padding-left: 13px;
  margin-top: 86px;
  border-left-width: 53px;
  padding-bottom: 8px;
  margin-left: 42px;
  border-bottom-width: 26px;
  border-left-width: 86px;
  border-right-width: 42px;
  margin-top: 54px;
  margin-top: 78px;
  font-size: 33px;
  margin-top: 36px;
  padding-bottom: 47px;
  padding-bottom: 40px;
  margin-right: 51px;
  padding-right: 53px;
  border-top-width: 68px;
  border-top-width: 66px;
  margin-bottom: 45px;
  font-size: 88px;
  margin-left: 12px;
}
